<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'/>
    <style type="text/css"><%= style %></style>
  </head>
  <body>
    <h2>
      <%= page[:title] %>
    </h2>
    <p><em><%= page[:author] %></em><p>
    <div><%= page[:content] %></div>
  </body>
</html>
